<section class="home-page flex">
    <div class="flex column align-center justify-center">
        <div class="user-container flex align-center">
            <h3 class="user-greet">
                Hello, <span>{{ user.fullName }}</span>
            </h3>
            <button class="btn-logout" (click)="onLogout()">Logout</button>
        </div>

        <p class="balance">
            💰 Your balance: <span>{{ user.coins | json }}</span>
        </p>

        <p class="rate">
            📈 Current bitcoin rate: <span>{{ BTC$ | async }}</span>
        </p>

    </div>

</section>