@font-face {
    font-family: FigtreeRegular;
    src: url(/assets/fonts/Figtree/Figtree-Regular.ttf);
}

@font-face {
    font-family: FigtreeBold;
    src: url(/assets/fonts/Figtree/Figtree-Bold.ttf);
}

@font-face {
    font-family: faSolid;
    src: url(/assets/fonts/fa/fa-solid-900.ttf);
}