@import "../../../assets/scss/setup/vars";

@mixin for-normal-layout {
  @media (max-width: $break-normal) {
    @content;
  }
}

@mixin fullPage {
  min-height: calc(100dvh - $app-header-height);
}

@mixin input {
  padding: 1rem;
  padding-inline-start: 1.2em;
  border: none;

  font-size: 1.6em;
}