$main-font-clr: #323338;
$main-bg-clr: #fff;
$main-font-family: FigtreeRegular;

$app-header-height: 60px;

$homepage-bg-clr: #add8e6;
$contact-page-bg-clr: #b1f4ad;
$statistic-page-bg-clr: #f3fe8e;
$signup-page-bg-clr: #fec68e;

$active-link-clr: #3870e8;
$contact-bg-clr: #d6d6d6;
$btn-delete-clr: #fc6d6d;
$btn-go-back-clr: #49deaa;

$break-normal: 1000px;